@import url('https://fonts.googleapis.com/css2?family=Alice&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
    max-width: 100vw !important;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    font-family:  'Ubuntu', sans-serif;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #505050;
}

body > .container {
    padding: 4rem 3rem 0;
}

#img-login {
    background-image: url('http://localhost/FATEC_Prog_WEB_Projeto/public/images/banner-full.jpg'); 
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#img-banner {
    height: 35dvh;
    background-image: url('http://localhost/FATEC_Prog_WEB_Projeto/public/images/banner-min.jpg'); 
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.container p{
    color: #090909 !important;
}

.footer  {
    padding: 1rem;
}

.centralizado{
    text-align: center;
}